services:
  db:
    image: postgres:15
    container_name: database_memberkit
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: backend_memberkit
    ports:
      - "3333:3333"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      DATABASE_URL: ${DATABASE_URL}
      MEMBERKIT_API_URL: ${MEMBERKIT_API_URL}
      MEMBERKIT_API_KEY: ${MEMBERKIT_API_KEY}
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: frontend_memberkit
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=${VITE_API_BASE_URL}
    depends_on:
      - backend

volumes:
  postgres_data: